.shrikhand {
  font-family: "Shrikhand", cursive;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

main a {
  color: black;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
}
.header__logo {
  width: 200px;
  margin-top: 10px;
}
.header__returnBtn {
  position: absolute;
  top: 38px;
  left: 20px;
}
@media screen and (min-width: 1000px) {
  .header__returnBtn {
    top: 35px;
    left: 40px;
  }
}

.banner {
  height: 240px;
}
.banner__img {
  position: absolute;
  z-index: -1;
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner__img--larger {
  display: none;
}
@media screen and (min-width: 1000px) {
  .banner__img {
    display: none;
  }
  .banner__img--larger {
    display: block;
  }
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: #eaeaea;
  box-shadow: inset 0px 13px 24px -17px #616161;
}
.location__icon {
  margin: 0 20px 0 -20px;
}
.location__text {
  font-size: larger;
  font-weight: bold;
}

.informations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.1em;
  height: 200px;
  padding: 40px 10px;
  margin: 0;
  background-color: #f6f6f6;
}
.informations__title {
  margin: 0;
}
.informations__text {
  margin: 15px 0;
  color: #5f5f5f;
}
.informations__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 230px;
  height: 50px;
  border: 0px solid #9e3a88;
  border-radius: 40px 40px 40px 40px;
  background: linear-gradient(180deg, #e771da 35%, #a15adc 100%);
  text-decoration: none;
  color: white;
  transition: opacity 0.5s;
  position: relative;
}
.informations__btn:before {
  content: "Explorer nos restaurants";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 40px 40px 40px 40px;
  background: linear-gradient(180deg, #fa86f0 50%, #a65de2 100%);
  transition: 0.5s;
  opacity: 0;
}
.informations__btn:hover::before {
  opacity: 1;
}

.tutorial {
  display: flex;
  flex-direction: column;
  padding: 30px 20px 30px 25px;
  margin: 0 0 30px 0;
}
@media screen and (min-width: 1000px) {
  .tutorial {
    max-width: 1500px;
    margin: auto;
  }
}
@media screen and (min-width: 1000px) {
  .tutorial__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.tutorial__steps {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  border: 10px solid #f6f6f6;
  border-radius: 20px 20px 20px 20px;
  background-color: #f6f6f6;
  box-shadow: 0px 10px 13px -7px #c7c7c7;
}
@media screen and (min-width: 1000px) {
  .tutorial__steps {
    width: 30%;
  }
}
.tutorial__steps__number {
  width: 20px;
  height: 20px;
  position: relative;
  left: -20px;
  text-align: center;
  background-color: #9356dc;
  border: 3px solid #9356dc;
  border-radius: 40px 40px 40px 40px;
  color: white;
}
.tutorial__steps__description {
  margin-left: 25px;
  font-weight: bold;
}
.tutorial__steps__icon {
  display: flex;
  justify-content: center;
  width: 20px;
  color: grey;
}

.heart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.heart__animated {
  color: #ff6881;
  position: absolute;
  font-size: 28.7px;
  -webkit-text-stroke-width: 2.9px;
  -webkit-text-stroke-color: black;
  transition: opacity 0.5s;
  opacity: 0;
}
.heart__animated:hover {
  opacity: 1;
}

.restaurants {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
}
@media screen and (min-width: 1000px) {
  .restaurants {
    height: 630px;
    max-width: 1500px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1000px) {
  .restaurants__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}
.restaurants__card {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 20px;
  box-shadow: 0px 10px 13px -7px #c7c7c7;
  border-radius: 0 0 15px 15px;
  transition: transform 0.3s;
}
.restaurants__card:hover {
  transform: scale(1.025);
}
.restaurants__card__new {
  background-color: #99e2d0;
  color: #028867;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  right: 15px;
  padding: 10px 15px;
  border-radius: 5px;
}
.restaurants__card__img {
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  height: 180px;
}
.restaurants__card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 0 0 15px 15px;
  height: 80px;
  padding: 0 20px 0 10px;
}
.restaurants__card__description__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.restaurants__card__description__text--margin {
  margin: 3px;
}
@media screen and (min-width: 1000px) {
  .restaurants__card {
    width: 49.2%;
  }
}
@media screen and (min-width: 1000px) {
  .restaurants__background {
    background-color: #f6f6f6;
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 690px;
    margin-top: -30px;
    left: 0;
    right: 0;
  }
}

@-webkit-keyframes reveal {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes reveal {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.reveal-delay-1 {
  -webkit-animation: reveal 1s 0s forwards;
          animation: reveal 1s 0s forwards;
}

.reveal-delay-2 {
  -webkit-animation: reveal 1s 0.1s forwards;
          animation: reveal 1s 0.1s forwards;
}

.reveal-delay-3 {
  -webkit-animation: reveal 1s 0.2s forwards;
          animation: reveal 1s 0.2s forwards;
}

.reveal-delay-4 {
  -webkit-animation: reveal 1s 0.3s forwards;
          animation: reveal 1s 0.3s forwards;
}

.reveal-delay-5 {
  -webkit-animation: reveal 1s 0.4s forwards;
          animation: reveal 1s 0.4s forwards;
}

.reveal-delay-6 {
  -webkit-animation: reveal 1s 0.5s forwards;
          animation: reveal 1s 0.5s forwards;
}

.reveal-delay-7 {
  -webkit-animation: reveal 1s 0.6s forwards;
          animation: reveal 1s 0.6s forwards;
}

.reveal-delay-8 {
  -webkit-animation: reveal 1s 0.7s forwards;
          animation: reveal 1s 0.7s forwards;
}

.reveal-delay-9 {
  -webkit-animation: reveal 1s 0.8s forwards;
          animation: reveal 1s 0.8s forwards;
}

.reveal-delay-10 {
  -webkit-animation: reveal 1s 0.9s forwards;
          animation: reveal 1s 0.9s forwards;
}

.menu {
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  padding: 10px 15px;
}
@media screen and (min-width: 1000px) {
  .menu {
    max-width: 1500px;
    margin: 0 auto;
  }
}
.menu__header {
  font-family: "Shrikhand", cursive;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 17px 0 7px;
}
@media screen and (min-width: 1000px) {
  .menu__header {
    padding: 0 50px 0 7px;
  }
  .menu__header h1 {
    font-size: 2.3em;
    position: relative;
    margin: 35px auto;
    left: 35px;
  }
}
.menu__cards__container {
  margin-bottom: 20px;
}
@media screen and (min-width: 1000px) {
  .menu__cards__container {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    margin-bottom: 20px;
  }
}
.menu__card {
  margin-bottom: 40px;
}
@media screen and (min-width: 1000px) {
  .menu__card {
    margin: 0 10px;
    width: 30%;
  }
}
.menu__title {
  padding-left: 7px;
  font-weight: normal;
  color: #666565;
}
.menu__title::after {
  content: "";
  display: block;
  margin: 0;
  width: 47px;
  height: 0px;
  padding-top: 5px;
  border-bottom: 3px solid #99e2d0;
}
.menu__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  opacity: 0;
  box-shadow: 0px 10px 13px -10px #c7c7c7;
  border-radius: 15px;
  height: 80px;
  padding: 0 20px 0 10px;
}
.menu__description__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 0;
}
.menu__description__text--margin {
  margin: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__description__price {
  padding-top: 28px;
  font-weight: bold;
  white-space: nowrap;
  width: 30px;
}
.menu__description__price > p {
  display: inline-block;
}
.menu__container {
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu__container--bigger {
  height: 365px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu__order {
  display: flex;
  justify-content: center;
  margin: 10px 0 40px 0;
}
@media screen and (min-width: 1000px) {
  .menu__order {
    margin: 50px 0px 55px 0px;
  }
}
.menu__order__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  border: 0px solid #9e3a88;
  border-radius: 40px 40px 40px 40px;
  box-shadow: 0px 10px 13px -2px #c7c7c7;
  background: linear-gradient(180deg, #e771da 35%, #a15adc 100%);
  transition: opacity 0.5s;
  position: relative;
}
.menu__order__btn:before {
  content: "Commander";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 40px 40px 40px 40px;
  box-shadow: 0px 10px 13px -2px #cecece;
  background: linear-gradient(180deg, #fa86f0 50%, #a65de2 100%);
  transition: 0.5s;
  opacity: 0;
}
.menu__order__btn:hover::before {
  opacity: 1;
}

.footer {
  background-color: #353535;
  height: 210px;
  padding: 0px 25px;
}
@media screen and (min-width: 1000px) {
  .footer {
    max-width: 1490px;
    margin: 0 auto;
  }
}
.footer__header {
  font-family: "Shrikhand", cursive;
  font-size: larger;
  color: white;
  padding-top: 25px;
  margin: 0 0 15px 0;
}
.footer__icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 25px;
}
.footer__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: white;
  height: 30px;
}
.footer__links {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  height: 30px;
  margin: 0;
}
@media screen and (min-width: 1000px) {
  .footer__background {
    background-color: #353535;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 210px;
    left: 0;
    right: 0;
    margin: 0;
  }
}/*# sourceMappingURL=style.css.map */