@import "utils/variables";
@import "utils/mixins";

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

main a {
  color: black;
  text-decoration: none;
}

.header {
  @include flexCenter;
  height: 80px;
  width: 100%;
  &__logo {
    margin-top: 10px;
    width: 200px;
  }
  &__return {
    position: absolute;
    color: black;
    top: 38px;
    left: 20px;
    @media screen and (min-width: 1000px) {
      top: 35px;
      left: 40px;
    }
  }
}

.banner {
  height: 180px;
  &__img {
    object-fit: cover;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    &--larger {
      display: none;
    }
    @media screen and (min-width: 1000px) {
      display: none;
      &--larger {
        display: block;
      }
    }
  }
}

.location {
  @include flexCenter;
  height: 60px;
  width: 100%;
  background-color: $location-background;
  box-shadow: inset 0px 13px 24px -17px $anchor-grey;
  &__icon {
    margin: 0 20px 0 -20px;
  }
  &__text {
    font-size: larger;
    font-weight: bold;
  }
}

.informations {
  @include flexColumnCenter;
  background-color: $light-grey;
  align-items: center;
  text-align: center;
  padding: 40px 10px;
  font-size: 1.1em;
  height: 200px;
  margin: 0;
  &__title {
    margin: 0;
  }
  &__text {
    color: $anchor-grey;
    margin: 15px 0;
  }
  &__btn {
    @include flexCenter;
    position: relative;
    margin-top: 20px;
    width: 230px;
    height: 50px;
    color: white;
    text-decoration: none;
    transition: opacity 0.5s;
    border-radius: 40px 40px 40px 40px;
    background: linear-gradient(
      180deg,
      rgba(231, 113, 218, 1) 35%,
      rgba(161, 90, 220, 1) 100%
    );
    &:before {
      @include flexCenter;
      content: "Explorer nos restaurants";
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: 0.5s;
      border-radius: 40px 40px 40px 40px;
      background: linear-gradient(
        180deg,
        rgb(250, 134, 240) 50%,
        rgb(166, 93, 226) 100%
      );
      
    }
    &:hover::before {
      opacity: 1;
    }
  }
}

.tutorial {
  display: flex;
  flex-direction: column;
  padding: 30px 20px 30px 25px;
  margin: 0 0 30px 0;
  @media screen and (min-width: 1000px) {
    max-width: 1500px;
    margin: auto;
  }
  &__container {
    @media screen and (min-width: 1000px) {
      @include flexRowBetween;
    }
  }
  &__steps {
    @include flexStartCenter;
    margin-bottom: 20px;
    background-color: $light-grey;
    border: 10px solid $light-grey;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 10px 13px -7px $shadow;
    @media screen and (min-width: 1000px) {
      width: 30%;
    }
    &__number {
      position: relative;
      text-align: center;
      color: white;
      left: -20px;
      width: 20px;
      height: 20px;
      background-color: $color-primary;
      border: 3px solid $color-primary;
      border-radius: 40px 40px 40px 40px;
    }
    &__description {
      margin-left: 25px;
      font-weight: bold;
    }
    &__icon {
      display: flex;
      justify-content: center;
      color: grey;
      width: 20px;
    }
  }
}

.heart {
  @include flexCenter;
  position: relative;
  &__animated {
    color: $orchid;
    position: absolute;
    font-size: 28.7px;
    -webkit-text-stroke-width: 2.9px;
    -webkit-text-stroke-color: black;
    transition: opacity 0.5s;
    opacity: 0;
    &:hover {
      opacity: 1;
    }
  }
}

.restaurants {
  background-color: $light-grey;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  @media screen and (min-width: 1000px) {
    max-width: 1500px;
    height: 630px;
    margin: 0 auto;
  }
  &__container {
    @media screen and (min-width: 1000px) {
      @include flexRowBetween;
      align-items: center;
      flex-wrap: wrap;
    }
  }
  &__card {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 20px;
    box-shadow: 0px 10px 13px -7px $shadow;
    border-radius: 0 0 15px 15px;
    transition: transform 0.3s;
    &:hover {
      transform: scale(1.025);
    }
    &__new {
      background-color: $color-tertiary;
      color: $forest-green;
      width: max-content;
      position: absolute;
      padding: 10px 15px;
      border-radius: 5px;
      right: 15px;
    }
    &__img {
      border-radius: 15px 15px 0 0;
      object-fit: cover;
      height: 180px;
    }
    &__description {
      @include flexBetweenCenter;
      background-color: white;
      border-radius: 0 0 15px 15px;
      padding: 0 20px 0 10px;
      height: 80px;
      &__text {
        @include flexColumnCenter;
        &--margin {
          margin: 3px;
        }
      }
    }
    @media screen and (min-width: 1000px) {
      width: 49.2%;
    }
  }
  @media screen and (min-width: 1000px) {
    &__background {
      background-color: $light-grey;
      position: absolute;
      z-index: -2;
      left: 0;
      right: 0;
      width: 100%;
      height: 690px;
      margin-top: -30px;
    }
  }
}

@keyframes reveal {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@for $i from 1 through 10 {
  .reveal-delay-#{$i} {
    animation: reveal 1s (($i + 1) * 0.2s) forwards;
  }
}

.menu {
  background-color: $light-grey;
  border-radius: 40px 40px 0 0;
  padding: 10px 15px;
  @media screen and (min-width: 1000px) {
    max-width: 1500px;
    margin: 0 auto;
  }
  &__header {
    @include flexBetweenCenter;
    font-family: "Shrikhand", cursive;
    padding: 0 17px 0 7px;
    @media screen and (min-width: 1000px) {
      padding: 0 50px 0 7px;
      h1 {
        position: relative;
        margin: 35px auto;
        font-size: 2.3em;
        left: 35px;
      }
    }
  }
  &__cards__container {
    margin-bottom: 20px;
    @media screen and (min-width: 1000px) {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      padding: 0 30px;
    }
  }
  &__card {
    margin-bottom: 40px;
    @media screen and (min-width: 1000px) {
      margin: 0 10px;
      width: 30%;
    }
  }
  &__title {
    color: $anchor-grey;
    font-weight: normal;
    padding-left: 7px;
    &::after {
      content: "";
      display: block;
      width: 47px;
      height: 0px;
      margin: 0;
      padding-top: 5px;
      border-bottom: 3px solid $color-tertiary;
    }
  }
  &__description {
    @include flexBetweenCenter;
    background-color: white;
    overflow: hidden;
    opacity: 0;
    box-shadow: 0px 10px 13px -10px $shadow;
    padding: 0 20px 0 10px;
    border-radius: 15px;
    height: 80px;
    &__text {
      @include flexColumnCenter;
      min-width: 0;
      width: 100%;
      &--margin {
        margin: 3px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
    &__price {
      display: inline-block;
      white-space: nowrap;
      font-weight: bold;
      padding-top: 28px;
      margin-left: 5px;
      width: 40px;
    }
    &:hover {
      .menu__description__hidden {
        margin-right: -20px;
      }
      .check_animated {
        transform: rotate(-360deg);
      }
    }
    &__hidden {
      @include flexCenter;
      background-color: $color-tertiary;
      color: white;
      margin-left: 10px;
      margin-right: -105px;
      transition: margin-right 0.45s;
      height: 100%;
      min-width: 80px;
      .check_animated {
        transition: transform 0.45s;
      }
    }
  }
  &__container {
    @include flexColumnBetween;
    height: 270px;
  }
  &__container--bigger {
    @include flexColumnBetween;
    height: 365px;
  }
  &__order {
    display: flex;
    justify-content: center;
    margin: 10px 0 40px 0;
    @media screen and (min-width: 1000px) {
      margin: 50px 0px 55px 0px;
    }
    &__btn {
      @include flexCenter;
      text-decoration: none;
      color: white;
      margin-top: 20px;
      width: 200px;
      height: 50px;
      border-radius: 40px 40px 40px 40px;
      box-shadow: 0px 10px 13px -2px $shadow;
      transition: opacity 0.5s;
      position: relative;
      background: linear-gradient(
        180deg,
        rgba(231, 113, 218, 1) 35%,
        rgba(161, 90, 220, 1) 100%
      );
      &:before {
        @include flexCenter;
        content: "Commander";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 40px 40px 40px 40px;
        box-shadow: 0px 10px 13px -2px $shadow-hover;
        transition: 0.5s;
        opacity: 0;
        background: linear-gradient(
          180deg,
          rgb(250, 134, 240) 50%,
          rgb(166, 93, 226) 100%
        );
      }
      &:hover::before {
        opacity: 1;
      }
    }
  }
}

.footer {
  background-color: $footer-background;
  height: 210px;
  padding: 0px 25px;
  &__header {
    font-family: "Shrikhand", cursive;
    font-size: larger;
    color: white;
    padding-top: 25px;
    margin: 0 0 15px 0;
  }
  &__icon {
    @include flexStartCenter;
    width: 25px;
  }
  &__container {
    @include flexStartCenter;
    text-decoration: none;
    color: white;
    height: 30px;
  }
  &__row {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    height: 30px;
    margin: 0;
  }
  @media screen and (min-width: 1000px) {
    max-width: 1490px;
    margin: 0 auto;
  }
  @media screen and (min-width: 1000px) {
    &__background {
      background-color: $footer-background;
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 210px;
      left: 0;
      right: 0;
      margin: 0;
    }
  }
}

// LOADER (generated with loading.io)
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fading {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

.loader__container {
  @include flexCenter;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $loader-background;
  animation: fading 2s 0s forwards;
}

.loader {
  position: relative;
  left: -178.5px;
  top: -178.5px;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.loader > div > div {
  transform-origin: 178.5px 178.5px;
  animation: loading 3.0303030303030303s linear infinite;
  opacity: 0.8;
}

.loader > div > div > div {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 178.5px;
  height: 178.5px;
  border-radius: 178.5px 0 0 0;
  transform-origin: 178.5px 178.5px;
}

.loader > div div:nth-child(1) {
  animation-duration: 0.7575757575757576s;
}

.loader > div div:nth-child(1) > div {
  background: $color-primary;
  transform: rotate(0deg);
}

.loader > div div:nth-child(2) {
  animation-duration: 1.0101010101010102s;
}

.loader > div div:nth-child(2) > div {
  background: $color-secondary;
  transform: rotate(0deg);
}

.loader > div div:nth-child(3) {
  animation-duration: 1.5151515151515151s;
}

.loader > div div:nth-child(3) > div {
  background: $color-tertiary;
  transform: rotate(0deg);
}

.loader > div div:nth-child(4) {
  animation-duration: 3.0303030303030303s;
}

.loader > div div:nth-child(4) > div {
  background: $color-primary;
  transform: rotate(0deg);
}

.loader div {
  box-sizing: content-box;
}
