@import "utils/variables";
@import "utils/mixins";
@import "utils/placeholders";

// Logo et Titres
.shrikhand {
  font-family: "Shrikhand", cursive;
}

// Textes
.roboto {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  &__logo {
    width: 200px;
    margin-top: 10px;
  }
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: #eaeaea;
  box-shadow: inset 0px 13px 24px -17px #616161;
  &__icon {
    margin: 0 20px 0 -20px;
  }
  &__text {
    font-size: larger;
    font-weight: bold;
  }
}

.informations {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  font-size: 1.1em;
  height: 230px;
  padding: 40px 10px;
  margin: 0;
  background-color: #f6f6f6;
  &__title {
    margin: 0;
  }
  &__text {
    margin: 15px 0;
    color: #5f5f5f;
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 230px;
    height: 50px;
    border: 0px solid #9e3a88;
    border-radius: 40px 40px 40px 40px;
    background: linear-gradient(
      180deg,
      rgba(231, 113, 218, 1) 35%,
      rgba(161, 90, 220, 1) 100%
    );
    text-decoration: none;
    color: white;
  }
}

.operations {
  display: flex;
  flex-direction: column;
  height: 350px;
  padding: 30px 20px 30px 25px;
  margin: 0 0 30px 0;
  &__steps {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    border: 10px solid #f6f6f6;
    border-radius: 20px 20px 20px 20px;
    background-color: #f6f6f6;
    box-shadow: 0px 10px 13px -7px rgb(199, 199, 199);
    &__number {
      width: 20px;
      height: 20px;
      position: relative;
      left: -20px;
      text-align: center;
      background-color: #9356dc;
      border: 3px solid #9356dc;
      border-radius: 40px 40px 40px 40px;
      color: white;
    }
    &__description {
      margin-left: 25px;
      font-weight: bold;
    }
    &__icon {
      display: flex;
      justify-content: center;
      width: 20px;
      color: grey;
    }
  }
}

.restaurants {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  margin-bottom: 10px;
  &__card {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    box-shadow: 0px 10px 13px -7px rgb(199, 199, 199);
    &__img {
      border-radius: 15px 15px 0 0;
      object-fit: cover;
      height: 180px;
    }
    &__description {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: white;
      border-radius: 0 0 15px 15px;
      height: 80px;
      padding: 0 20px 0 10px;
      &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        &--margin {
          margin: 3px;
        }
      }
    }
  }
}

.footer {
  background-color: #353535;
  padding: 23px;
  color: white;
  &__header {
    font-family: "Shrikhand", cursive;
    font-size: larger;
    padding-bottom: 15px;
  }
  &__icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 25px;
  }
  div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
  }
  p {
    display: flex;
    align-items: center;
    height: 30px;
    margin: 0;
  }
}

// IPHONE : @media screen and (max-width: 767px) { }

// TABLET : @media screen and (min-width: 768px) and (max-width: 1366px) { }
